@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.625rem #7b3838;
    box-shadow: inset 0 0 0.625rem #7b3838;
    @apply bg-transparent rounded-lg transition-colors duration-700 hover:bg-black;
  }

  ::-webkit-scrollbar {
    @apply w-2 bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[0.9375rem] bg-[#ff0266];
    background-image: -webkit-linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.4) 50%,
      transparent,
      transparent
    );
  }

  body {
    @apply bg-black-primary text-white-primary;
  }

  main {
    @apply w-full px-2 md:pl-4 xl:pt-4;
  }

  a,
  button {
    @apply transition duration-200 ease-linear inline-block outline-none border-none focus:outline-none;
  }

  input {
    @apply outline-none border-0 focus:outline-none;
  }

  h1 {
    @apply text-3xl md:text-5xl;
  }

  h2 {
    @apply text-2xl md:text-4xl;
  }

  h3 {
    @apply text-lg md:text-2xl;
  }

  h4 {
    @apply text-base md:text-lg;
  }

  h5 {
    @apply text-sm md:text-base;
  }

  h6 {
    @apply text-xs md:text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-white mb-2;
  }
}

@layer components {
  /* layout */
  .layout {
    @apply md:grid md:grid-cols-[12rem_1fr] xl:grid-cols-[15rem_3fr_1fr];
  }

  /* navigations */
  .navbar {
    @apply flex items-center justify-between py-4 px-2 shadow-xl mb-2 sticky top-0 z-[1000] bg-black-primary md:block md:mb-0 md:sticky md:top-0 md:left-0 md:shadow-none md:bg-black-2 md:pl-6 md:pr-8 md:self-start md:h-screen md:flex-1 md:max-w-[15rem];

    @apply col-start-1 col-end-2 row-start-1 row-end-3;
  }

  .navbar__list--cont {
    @apply px-2 bg-black-primary absolute left-0 top-[3.8rem] h-0 w-full overflow-hidden transition-all duration-500 md:static md:h-auto md:px-0 md:bg-transparent;
  }

  /* asides */
  .aside {
    @apply overflow-x-hidden px-2 mt-4 md:pl-4 xl:pl-2 xl:bg-black-2 xl:mt-0 xl:h-screen xl:sticky xl:top-0 xl:right-0 xl:flex xl:flex-col xl:py-4;
  }

  /* scrollbars */
  .scrollbar__hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar__hide::-webkit-scrollbar {
    @apply w-0 h-0;
  }

  .scrollbar__show {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
  }

  .scrollbar__show::-webkit-scrollbar {
    @apply w-auto h-auto;
  }

  /* communities */
  .communties {
    @apply grid gap-10 grid-cols-[repeat(auto-fit,minmax(15rem,1fr))] auto-rows-[30rem];
  }

  /* errors */
  .error {
    @apply text-red;
  }
}
